
.App-logo {
  height: 40vmin;
  margin-left: 45%;
  margin-bottom: 0.5%;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 00s linear;
  }
}




@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.helktiba {
 text-align: center;
 color: #61dafb;
}
